<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\GAOJAI20150730\WebDeployPackage\MPERP2015.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/ERP</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ERPModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;Persist Security Info=True;User ID=sa;Password=mp28641028!#%&amp;;Application Name=EntityFramework" Name="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;User Id=sa;Password=mp28641028!#%&amp;;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MPERP2015.Models.ERPModelContainer, MPERP2015" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MembershipModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;Persist Security Info=True;User ID=sa;Password=mp28641028!#%&amp;;Application Name=EntityFramework" Name="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;User Id=sa;Password=mp28641028!#%&amp;;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MPERP2015.MP.MembershipModelContainer, MPERP2015" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ERPModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ERPModel.csdl|res://*/Models.ERPModel.ssdl|res://*/Models.ERPModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;User Id=sa;Password=mp28641028!#%&amp;;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/MP.MembershipModel.csdl|res://*/MP.MembershipModel.ssdl|res://*/MP.MembershipModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.\SqlExpress;Initial Catalog=MPERP2015;User Id=sa;Password=mp28641028!#%&amp;;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>