USE [master]
GO
/****** Object:  Database [MPERP2015]    Script Date: 08/11/2015 16:33:54 ******/
CREATE DATABASE [MPERP2015] ON  PRIMARY 
( NAME = N'MPERP2015', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MPERP2015.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MPERP2015_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MPERP2015_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPERP2015].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPERP2015]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Customer_Id] [int] NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](50) NOT NULL,
	[ContentUrl] [varchar](150) NULL,
	[ParentId] [int] NOT NULL,
	[CssClass] [varchar](50) NULL,
	[Timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON
INSERT [dbo].[Menus] ([Id], [Text], [ContentUrl], [ParentId], [CssClass]) VALUES (1, N'根選單', NULL, 0, NULL)
INSERT [dbo].[Menus] ([Id], [Text], [ContentUrl], [ParentId], [CssClass]) VALUES (2, N'系統管理', N'', 1, N'fa fa-wrench fa-fw')
INSERT [dbo].[Menus] ([Id], [Text], [ContentUrl], [ParentId], [CssClass]) VALUES (3, N'產品', N'views/products.html', 6, N'fa fa-cubes fa-fw')
SET IDENTITY_INSERT [dbo].[Menus] OFF
/****** Object:  Table [dbo].[catPay]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catPay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_catPay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catPay] ON
INSERT [dbo].[catPay] ([Id], [No], [Name]) VALUES (1, N'CASH', N'現金')
INSERT [dbo].[catPay] ([Id], [No], [Name]) VALUES (2, N'M30', N'月結30天')
INSERT [dbo].[catPay] ([Id], [No], [Name]) VALUES (3, N'M60', N'月結60天')
SET IDENTITY_INSERT [dbo].[catPay] OFF
/****** Object:  Table [dbo].[catFactory]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catFactory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_catFactory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catFactory] ON
INSERT [dbo].[catFactory] ([Id], [No], [Name]) VALUES (1, N'1', N'國內')
INSERT [dbo].[catFactory] ([Id], [No], [Name]) VALUES (2, N'2', N'國外')
SET IDENTITY_INSERT [dbo].[catFactory] OFF
/****** Object:  Table [dbo].[Categories]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'文具')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'書籍')
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[catCustomer]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_catCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catCustomer] ON
INSERT [dbo].[catCustomer] ([Id], [No], [Name]) VALUES (1, N'1', N'國內')
INSERT [dbo].[catCustomer] ([Id], [No], [Name]) VALUES (2, N'2', N'國外')
SET IDENTITY_INSERT [dbo].[catCustomer] OFF
/****** Object:  Table [dbo].[catCurrency]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catCurrency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_catCurrency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catCurrency] ON
INSERT [dbo].[catCurrency] ([Id], [No], [Name]) VALUES (1, N'TWD', N'台幣')
INSERT [dbo].[catCurrency] ([Id], [No], [Name]) VALUES (2, N'USD', N'美元')
INSERT [dbo].[catCurrency] ([Id], [No], [Name]) VALUES (3, N'RMB', N'人民幣')
SET IDENTITY_INSERT [dbo].[catCurrency] OFF
/****** Object:  Table [dbo].[typeFactory]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typeFactory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_typeFactory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[typeFactory] ON
INSERT [dbo].[typeFactory] ([Id], [No], [Name]) VALUES (1, N'1', N'油封鋼片')
INSERT [dbo].[typeFactory] ([Id], [No], [Name]) VALUES (2, N'2', N'油封')
INSERT [dbo].[typeFactory] ([Id], [No], [Name]) VALUES (3, N'3', N'橡膠履帶')
SET IDENTITY_INSERT [dbo].[typeFactory] OFF
/****** Object:  Table [dbo].[sDatas]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cat] [int] NOT NULL,
	[No] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[sUser] [nvarchar](50) NULL,
	[sCreate] [datetime] NULL,
	[sUpdate] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_sDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sDatas] ON
INSERT [dbo].[sDatas] ([Id], [Cat], [No], [Name], [sUser], [sCreate], [sUpdate]) VALUES (2, 1, N'2', N'國外', N'test', CAST(0x0000A4A800000000 AS DateTime), CAST(0x0000A4A800000000 AS DateTime))
INSERT [dbo].[sDatas] ([Id], [Cat], [No], [Name], [sUser], [sCreate], [sUpdate]) VALUES (3, 1, N'1', N'國內', NULL, NULL, NULL)
INSERT [dbo].[sDatas] ([Id], [Cat], [No], [Name], [sUser], [sCreate], [sUpdate]) VALUES (4, 4, N'1', N'油封鋼片', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[sDatas] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'管理者')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'生管')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (5, N'人事')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[RoleFeatures]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeatures](
	[Role_Id] [int] NOT NULL,
	[Menu_Id] [int] NOT NULL,
 CONSTRAINT [PK_RoleFeatures] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC,
	[Menu_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoleFeatures] ([Role_Id], [Menu_Id]) VALUES (1, 2)
INSERT [dbo].[RoleFeatures] ([Role_Id], [Menu_Id]) VALUES (1, 4)
INSERT [dbo].[RoleFeatures] ([Role_Id], [Menu_Id]) VALUES (1, 5)
/****** Object:  Table [dbo].[Products]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Price] [float] NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
	[Category_Id] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_CategoryProduct] ON [dbo].[Products] 
(
	[Category_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([Id], [Name], [Price], [Category_Id]) VALUES (1, N'www', 0, 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Factories]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cat] [int] NULL,
	[Type] [int] NULL,
	[NO] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NULL,
	[Sname] [nvarchar](32) NULL,
	[Unid] [nvarchar](10) NULL,
	[Contact1] [nvarchar](16) NULL,
	[Contact2] [nvarchar](16) NULL,
	[Email1] [nvarchar](128) NULL,
	[Email2] [nvarchar](128) NULL,
	[Email3] [nvarchar](128) NULL,
	[Telephone1] [nvarchar](16) NULL,
	[Telephone2] [nvarchar](16) NULL,
	[Telephone3] [nvarchar](16) NULL,
	[Website] [nvarchar](128) NULL,
	[Fax] [nvarchar](16) NULL,
	[Address] [nvarchar](128) NULL,
	[Shipaddr] [nvarchar](128) NULL,
	[Invoiceaddr] [nvarchar](128) NULL,
	[Pay] [int] NULL,
	[Currency] [int] NULL,
	[Lasttrade] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[sUser] [nvarchar](256) NULL,
	[sCreate] [datetime] NULL,
	[sUpdate] [datetime] NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Factories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Factories] ON
INSERT [dbo].[Factories] ([Id], [Cat], [Type], [NO], [Name], [Sname], [Unid], [Contact1], [Contact2], [Email1], [Email2], [Email3], [Telephone1], [Telephone2], [Telephone3], [Website], [Fax], [Address], [Shipaddr], [Invoiceaddr], [Pay], [Currency], [Lasttrade], [Note], [sUser], [sCreate], [sUpdate]) VALUES (2, 1, 1, NULL, N'久豐重機械材料有限公司', N'久豐.胡', NULL, N'胡經綸', N'胡經綸', NULL, NULL, NULL, N'0225592899', N'0921887922', N'0921887922', NULL, N'0225590899', N'103 台北市大同區長安西路216巷5號', N'103 台北市大同區長安西路216巷5號', N'103 台北市大同區長安西路216巷5號', 1, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Factories] ([Id], [Cat], [Type], [NO], [Name], [Sname], [Unid], [Contact1], [Contact2], [Email1], [Email2], [Email3], [Telephone1], [Telephone2], [Telephone3], [Website], [Fax], [Address], [Shipaddr], [Invoiceaddr], [Pay], [Currency], [Lasttrade], [Note], [sUser], [sCreate], [sUpdate]) VALUES (3, 1, 4, NULL, N'聯致實業有限公司', N'聯致', N'86323660', N'宋自清', N'李康榮', N'LANEXCA@YAHOO.COM.TW', NULL, NULL, N'034202246', N'0936234772', N'0926104471', NULL, N'034202247', N'320 桃園縣中壢市松信二街25號', N'320 桃園縣中壢市松信二街25號', N'320 桃園縣中壢市松信二街25號', 1, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Factories] OFF
/****** Object:  Table [dbo].[Customers]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cat] [int] NULL,
	[Agent] [int] NULL,
	[NO] [nvarchar](32) NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Sname] [nvarchar](32) NULL,
	[Unid] [nvarchar](10) NULL,
	[Contact1] [nvarchar](16) NULL,
	[Contact2] [nvarchar](16) NULL,
	[Email1] [nvarchar](128) NULL,
	[Email2] [nvarchar](128) NULL,
	[Email3] [nvarchar](128) NULL,
	[Telephone1] [nvarchar](16) NULL,
	[Telephone2] [nvarchar](16) NULL,
	[Telephone3] [nvarchar](16) NULL,
	[Website] [nvarchar](128) NULL,
	[Fax] [nvarchar](16) NULL,
	[Address] [nvarchar](128) NULL,
	[Shipaddr] [nvarchar](128) NULL,
	[Invoiceaddr] [nvarchar](128) NULL,
	[Pay] [int] NULL,
	[Currency] [int] NULL,
	[Lasttrade] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[Timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([Id], [Cat], [Agent], [NO], [Name], [Sname], [Unid], [Contact1], [Contact2], [Email1], [Email2], [Email3], [Telephone1], [Telephone2], [Telephone3], [Website], [Fax], [Address], [Shipaddr], [Invoiceaddr], [Pay], [Currency], [Lasttrade], [Note]) VALUES (13, 1, NULL, N'02-01', N'森美交通器材行', N'森美.梁', N'04270976', N'梁朝森', N'梁朝森', NULL, NULL, NULL, N'02-23937609', N'0919316631', N'0919316631', NULL, N'0223414466', N'100 台北市中正區林森南路45號', NULL, N'100 台北市中正區林森南路45號', 2, 1, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Cat], [Agent], [NO], [Name], [Sname], [Unid], [Contact1], [Contact2], [Email1], [Email2], [Email3], [Telephone1], [Telephone2], [Telephone3], [Website], [Fax], [Address], [Shipaddr], [Invoiceaddr], [Pay], [Currency], [Lasttrade], [Note]) VALUES (14, 1, NULL, N'02-03', N'久豐重機械材料有限公司', N'久豐.胡', N'04474866', N'胡經綸', N'胡經綸', NULL, NULL, NULL, N'02-25592899', N'0921887922', N'0921887922', NULL, N'02-25590899', N'103台北市大同長安西路216巷5號', NULL, N'103台北市大同長安西路216巷5號', 2, 1, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Cat], [Agent], [NO], [Name], [Sname], [Unid], [Contact1], [Contact2], [Email1], [Email2], [Email3], [Telephone1], [Telephone2], [Telephone3], [Website], [Fax], [Address], [Shipaddr], [Invoiceaddr], [Pay], [Currency], [Lasttrade], [Note]) VALUES (15, 1, NULL, N'02-05', N'興泰貿易有限公司', N'泰泉', N'84134242', N'許興泉', N'王昭憲', NULL, NULL, NULL, N'02-25858068', N'0910015386', N'0937083911', NULL, N'0225948499', N'103 台北市大同區敦煌路142號', NULL, N'103 台北市大同區敦煌路142號', 1, 1, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Timestamp] [timestamp] NOT NULL,
	[Role_Id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserName], [Password], [Role_Id]) VALUES (N'aaa', N'aaa', 1)
INSERT [dbo].[Users] ([UserName], [Password], [Role_Id]) VALUES (N'admin', N'123', 1)
INSERT [dbo].[Users] ([UserName], [Password], [Role_Id]) VALUES (N'mary', N'123', 5)
/****** Object:  Table [dbo].[UserFeatures]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFeatures](
	[Users_UserName] [nvarchar](50) NOT NULL,
	[Menus_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserFeatures] PRIMARY KEY CLUSTERED 
(
	[Users_UserName] ASC,
	[Menus_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserFeatures] ([Users_UserName], [Menus_Id]) VALUES (N'aaa', 2)
INSERT [dbo].[UserFeatures] ([Users_UserName], [Menus_Id]) VALUES (N'aaa', 4)
INSERT [dbo].[UserFeatures] ([Users_UserName], [Menus_Id]) VALUES (N'aaa', 5)
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 08/11/2015 16:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Order_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Order_Id] ASC,
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FK_OrderDetails_Products] ON [dbo].[OrderDetails] 
(
	[Product_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_RoleFeatures_Menus]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeatures_Menus] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[RoleFeatures] CHECK CONSTRAINT [FK_RoleFeatures_Menus]
GO
/****** Object:  ForeignKey [FK_RoleFeatures_Roles]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[RoleFeatures]  WITH CHECK ADD  CONSTRAINT [FK_RoleFeatures_Roles] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleFeatures] CHECK CONSTRAINT [FK_RoleFeatures_Roles]
GO
/****** Object:  ForeignKey [FK_CategoryProduct]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProduct] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_CategoryProduct]
GO
/****** Object:  ForeignKey [FK_Factories_catCurrency]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Factories]  WITH CHECK ADD  CONSTRAINT [FK_Factories_catCurrency] FOREIGN KEY([Currency])
REFERENCES [dbo].[catCurrency] ([Id])
GO
ALTER TABLE [dbo].[Factories] CHECK CONSTRAINT [FK_Factories_catCurrency]
GO
/****** Object:  ForeignKey [FK_Factories_catFactory]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Factories]  WITH CHECK ADD  CONSTRAINT [FK_Factories_catFactory] FOREIGN KEY([Cat])
REFERENCES [dbo].[catFactory] ([Id])
GO
ALTER TABLE [dbo].[Factories] CHECK CONSTRAINT [FK_Factories_catFactory]
GO
/****** Object:  ForeignKey [FK_Factories_catPay]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Factories]  WITH CHECK ADD  CONSTRAINT [FK_Factories_catPay] FOREIGN KEY([Pay])
REFERENCES [dbo].[catPay] ([Id])
GO
ALTER TABLE [dbo].[Factories] CHECK CONSTRAINT [FK_Factories_catPay]
GO
/****** Object:  ForeignKey [FK_Factories_typeFactory]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Factories]  WITH CHECK ADD  CONSTRAINT [FK_Factories_typeFactory] FOREIGN KEY([Type])
REFERENCES [dbo].[typeFactory] ([Id])
GO
ALTER TABLE [dbo].[Factories] CHECK CONSTRAINT [FK_Factories_typeFactory]
GO
/****** Object:  ForeignKey [FK_Customers_catCurrency]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_catCurrency] FOREIGN KEY([Currency])
REFERENCES [dbo].[catCurrency] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_catCurrency]
GO
/****** Object:  ForeignKey [FK_Customers_catCustomer]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_catCustomer] FOREIGN KEY([Cat])
REFERENCES [dbo].[catCustomer] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_catCustomer]
GO
/****** Object:  ForeignKey [FK_Customers_catPay]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_catPay] FOREIGN KEY([Pay])
REFERENCES [dbo].[catPay] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_catPay]
GO
/****** Object:  ForeignKey [FK_RoleUser]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_RoleUser]
GO
/****** Object:  ForeignKey [FK_UserFeatures_Menus]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[UserFeatures]  WITH CHECK ADD  CONSTRAINT [FK_UserFeatures_Menus] FOREIGN KEY([Menus_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[UserFeatures] CHECK CONSTRAINT [FK_UserFeatures_Menus]
GO
/****** Object:  ForeignKey [FK_UserFeatures_Users]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[UserFeatures]  WITH CHECK ADD  CONSTRAINT [FK_UserFeatures_Users] FOREIGN KEY([Users_UserName])
REFERENCES [dbo].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFeatures] CHECK CONSTRAINT [FK_UserFeatures_Users]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Orders]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Products]    Script Date: 08/11/2015 16:33:55 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
